[submodule "packer"]
	path = packer
	url = git@github.com:JacobAMason/packer.git
[submodule "puppet"]
	path = puppet
	url = git@github.com:JacobAMason/puppet.git
[submodule "FTCDevSuite"]
	path = FTC/FTCDevSuite
	url = git@github.com:JacobAMason/FTCDevSuite.git
[submodule "ftc_app"]
	path = FTC/ftc_app
	url = git@github.com:FTC3486/ftc_app.git
[submodule "docker-images"]
	path = docker-images
	url = git@github.com:JacobAMason/docker-images.git
[submodule ".vim/bundle/vim-ps1"]
	path = .vim/bundle/vim-ps1
	url = git@github.com:PProvost/vim-ps1.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
